<div id="<%= dom_id %>"
     data-testid="message"
     data-role="<%= role %>"
     class="mb-4 <%= alignment_classes %>">
  <div class="inline-block max-w-xl px-4 py-2 rounded-lg <%= bubble_classes %>">
    <div class="<%= prose_classes %> text-left">
      <%= rendered_body %>
    </div>
  </div>
</div>
