<div id="<%= dom_id %>"
     data-testid="message"
     data-role="<%= role %>"
     class="mb-4 <%= alignment_classes %>">
  <span class="inline-block max-w-lg px-4 py-2 rounded-lg <%= bubble_classes %>">
    <%= h(body) %>
  </span>
</div>
